@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500&display=swap");
* {
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

:root {
  --clr-red: #ff2850;
  --clr-orange: #ff9600;
  --clr-yellow: #ffb30f;
  --clr-green: #3ec949;
  --clr-cyan: #4db7dd;
  --clr-blue: #0076f0;
  --clr-purple: #5751d0;
  --clr-background-deep: #efeff0;
  --clr-background: #ffffff;
  --clr-background-deeper: #edecee;
  --clr-text1: #393738;
  --clr-text2: #b5b4b5;
  --clr-gray: #e6e6e6;
  --clr-gray-deep: #c3c2c3;
  --clr-gray-deeper: #6a696a;
  --long-stat-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  --short-stat-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

  background-color: var(--clr-background-deep);
  color: var(--clr-text1);
}
